.Team {
    max-width: var(--content-width-mid);
    margin: 0 auto;
    padding: var(--padding-size);
    text-align: center;
}

.Team-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: calc(var(--padding-size) * 5)
}

.Team-member-img {
    margin: 0 auto;
    max-width: 174px;
    border-radius: 50%;
}

.Team-member {
    max-width: 274px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: calc(var(--padding-size) * 5)
}

.Team-member-person {
    padding-top: var(--padding-size);
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.Team-member-position {
    text-align: center;
    color: #7a7a7a;
    font-size: small;
}

.Team-title {
    font-size: 2.5em;
    font-weight: bold;
}