.Outcome {
    max-width: 1100px;
    margin: 0 auto;
    padding: var(--padding-size);
    margin-top: 50px
}

.Outcome-desc {
    display: flex;
    align-items: center;
    font-size: x-large;
    max-width: 400px;
    flex-basis: 50%;
    padding: var(--padding-size)
}

.Outcome-img-container {
    margin-top: -100px;
    flex-basis: 50%;
}

.Outcome-img {
    min-width: 204px;
    max-width: 100%;
    object-fit: contain;
    width: 100%;
}

.Outcome-content {
    padding: var(--padding-size);
    background-color: white;
    display: flex;
    border-radius: 50px;
    justify-content: space-evenly;
    min-width: 250px;
    box-shadow: 0px 20px 40px -8px rgb(18 60 76 / 30%);
}

.Outcome-button {
    padding: var(--padding-size) 0;
    min-width: 380px;
}

.Outcome-button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: calc(var(--padding-size) * 5)
}

@media screen and (max-width:800px) {
    .Outcome {
        margin-top: 150px;
        position: relative;

    }

    .Outcome-content {
        padding-top: 150px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .Outcome-img-container {
        padding: 0 69px;
        bottom: calc(100% - 250px + 69px);
        position: absolute;
        display: flex;
        justify-content: center;
        max-width: 500px;
    }

    .Outcome-desc {
        font-size: large;
    }

    .Outcome-button {
        display: flex;
        justify-content: center;
        padding: var(--padding-size) 0;
        min-width: 100%
    }
}