.Events {
    display: flex;
    padding: var(--padding-size);
    justify-content: center;

}

.Events-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Events-title {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}

.Events-item-img {
    height: 84px;
    width: 84px;
    border-radius: 50%;
    margin: 0 var(--padding-size);
}

.Events-subtitle {
    font-size: x-large;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    color: var(--green-color);
    ;
    padding: var(--padding-size) 0;
}

.Events-item-date {
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Events-item-title {
    font-size: x-large;
    font-weight: bold;
}

.Events-item-divider-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200%;
    z-index: -1;
}

.Events-item-divider {
    width: 2px;
    background-color: var(--green-color);
    ;
}

.Events-item-desc {
    padding-bottom: 46px;
}

.Events-item-desc-last {
    padding-bottom: var(--padding-size);
}

.Events-item-title-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Events-item-list {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
}

.Events-button-container {
    padding: calc(var(--padding-size) * 10) 0;
    display: flex;
    justify-content: center;
    width: 240px;
}

@media screen and (max-width:800px) {
    .Events-item-list {
        grid-template-columns: 1fr 3fr;
    }

    .Events-item-date {
        justify-content: flex-start;
    }

    .Events-item-desc {
        padding-top: var(--padding-size);
    }

    .Events-item-title-desc {
        justify-content: space-between;
    }

    .Events-item-title {
        padding-top: var(--padding-size);
    }
}