.Images {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.Images-content-container {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.Images-content {
    width: 100%;
    max-width: 1100px;
    padding: var(--padding-size)
}

.Images-title {
    font-size: 2.5em;
    font-weight: bold;
    padding: calc(var(--padding-size) * 5) 0
}

.Images-container {
    width: 100%;
    height: 100%;
    margin-bottom: calc(var(--padding-size) * 10);
    position: relative;
    max-width: var(--content-width-max);
}

.Images-img-container {
    height: 500px;
}

.Images-img {
    height: 100%;
    width: 100%;
    padding: 0 46px;
    object-fit: cover;
}

.Images-button {
    border-radius: 50%;
    background-color: white;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    width: 50px;
    top: calc(50% - 25px - var(--padding-size));
}

.Images-button-left {
    position: absolute;
    left: calc(100px - 25px);
    z-index: 1;
    cursor: pointer;
}

.Images-button-right {
    position: absolute;
    right: calc(100px - 25px);
    cursor: pointer;
    z-index: 1;
}

@media screen and (max-width:800px) {
    .Images-img {
        padding: 0;
    }

    .Images-button-left {
        left: 1%;
    }

    .Images-button-right {
        left: auto;
        right: 1%;
    }

}